// Define variables for your color scheme

// For example:
$red: #b00331;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #f09a20;
$green: #26805a;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-night: #11141B;
$magic-purple: #6c678f;
$purple: #464184;
