<h1>dezuih</h1>

<% if policy(@beast).edit? %>
  <%= link_to "Edit this beast", edit_beast_path(@beast) %> |
<% end %>
<%= button_to "Destroy this beast", @beast, method: :delete if policy(@beast).destroy? %>

<%= link_to "homepage", root_path%>
<%= link_to "view beasts", beasts_path%>
