<div class="container">
  <div class="vertical-list">
    <div class="vertical-list-beast">
      <% current_user.beasts.each do |beast| %>
      <%# <%= link_to cl_image_tag beast.photos.first.key, beast_path(beast), class:"avatar-beasts" %>
      <%= link_to beast_path(beast) do %>
        <%= cl_image_tag beast.photos.first.key, class:"avatar-beasts"  %>
      <% end %>
      <% end  %>
    </div>
    <!-- -->
  </div>

  <div class="booked-beasts">
    <span class="display-2">Your booked beasts</span>
    <div class="booked">
      <h1>current-booking</h1>
      <div class = "booking-info">
        <div class="info-details">
          <p>beast booked, duration, total price, booker</p>
        </div>
        <div class="info-user">
          <p>user picture</p>
        </div>
      </div>
    </div>

    <div class="booked">
      <h1>passed-bookings</h1>
      <div class = "booking-info">
        <div class="info-details">
          <p>beast booked, duration, total price, booker</p>
        </div>
        <div class="info-user">
          <p>user picture</p>
        </div>
      </div>
    </div>

    <div class="booked">
      <h1>canceled-booking</h1>
      <div class = "booking-info">
        <div class="info-details">
          <p>beast booked, duration, total price, booker</p>
        </div>
        <div class="info-user">
          <p>user picture</p>
        </div>
      </div>
    </div>

  </div>


  <div class="booked-beasts">
    <span class="display-2">beasts you booked</span>
    <div class="booked">
      <h1>current-booking</h1>
      <div class = "booking-info">
        <div class="info-details">
          <p>beast booked, duration, total price, booker</p>
        </div>
        <div class="info-user">
          <p>user picture</p>
        </div>
      </div>
    </div>

    <div class="booked">
      <h1>passed-bookings</h1>
      <div class = "booking-info">
        <div class="info-details">
          <p>beast booked, duration, total price, booker</p>
        </div>
        <div class="info-user">
          <p>user picture</p>
        </div>
      </div>
    </div>

    <div class="booked">
      <h1>canceled-booking</h1>
      <div class = "booking-info">
        <div class="info-details">
          <p>beast booked, duration, total price, booker</p>
        </div>
        <div class="info-user">
          <p>user picture</p>
        </div>
      </div>
    </div>

  </div>
</div>
