<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.ctfassets.net/usf1vwtuqyxm/34Sx0aOFsWUNIvtA0x7C8M/dc5a81cbe38c5be0a76d18eb7f981915/Fantastic-Beasts-Natural-History-Key-Art.jpg?fm=jpg&q=70&w=2560);">
    <div class="container">
      <h1>Time to find your <strong>B</strong>east <strong>F</strong>antastic <strong>F</strong>riend !</h1>
      <p>Change your life, rent a beast !</p>
      <a><%= link_to "Find your new BFF", beasts_path, class: "btn btn-secondary"  %></a>
    </div>
  </div>

  <div class="cards container ">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fr.web.img5.acsta.net/r_1280_720/newsv7/20/10/16/16/15/3527748.jpg)">
      Cheapeur the Niffleur
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.shopify.com/s/files/1/1678/4201/files/occamy_large.jpg?v=1565685055)">
      Démonzémerveille vraiment calin !
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://pm1.narvii.com/7167/6a49670b79eaa4398df157d7d9dd69e2d3ea7aa2r1-270-467v2_uhq.jpg)">
      Botruc très farceur.
    </div>
  </div>
</div>
