<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.ctfassets.net/usf1vwtuqyxm/34Sx0aOFsWUNIvtA0x7C8M/dc5a81cbe38c5be0a76d18eb7f981915/Fantastic-Beasts-Natural-History-Key-Art.jpg?fm=jpg&q=70&w=2560);">
    <div class="container">
      <h1>Time to find your <strong>B</strong>east <strong>F</strong>antastic <strong>F</strong>riend !</h1>
      <p>Change your life, rent a beast !</p>
      <a><%= link_to "Find your new BFF", beasts_path, class: "shadow__btn"  %></a>
    </div>
  </div>
<div class= "text-center mt-2"> <h1>Our most attractive friends</h1></div>
  <div class="cards container ">
    <div class="card-category home-hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fr.web.img5.acsta.net/r_1280_720/newsv7/20/10/16/16/15/3527748.jpg)">
       <h2 class="text-center">Cheapeur the Niffler, use with moderation.</h2>
       <%# <p>The niffler is such an adorable creature! With its small size, soft fur, and exceptional sense of smell, it's impossible not to fall in love with it.</p>
       <p class="font-weight-light font-italic"> - Luna Lovegood </p> %>
    </div>

    <div class="card-category home-hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.julsa.fr/wp-content/uploads/2023/02/Ou-trouver-un-Graphorn-dans-Hogwarts-Legacy.jpg)">
      <h2 class="text-center">Dragorn, to impress your enemies !</h2>
    </div>

    <div class="card-category home-hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://laboutiquedusorcier.fr/wp-content/uploads/2018/04/products-Figurine-The-Noble-Collection-Les-Animaux-Fantastiques-Botruc.jpg)">
      <h2 class="text-center">Bowtruckle, this is not a stick.</h2>
    </div>
  </div>
</div>
