

.btn:hover{
  --bs-btn-color: #f4f4f4;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: white;
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 12px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  text-decoration-line: none;
}

.shadow__btn {
  background: $magic-purple;
  box-shadow: $magic-purple;
}

.shadow__btn:hover {
  color: #f4f4f4;
  box-shadow: 0 0 5px rgb(134, 1, 105),
              0 0 25px rgb(134, 1, 105),
              0 0 50px rgb(134, 1, 105),
              0 0 100px rgb(134, 1, 105);
  text-decoration-line: none;
}
