.beasts-list {

}

.booked-beasts{
  background-color: rgb(44,56,95);
  margin: 10px 0 ;
  padding: 10px 15px 20px 15px;
  border-radius: 10px;
// box-shadow: 2px 2px 5px rgba(112, 112, 112, 0.437);
}


.booked{
  background-color: rgb(44,56,95);
  // border-bottom: 2px solid rgba(110, 110, 110, 0.662);
  // box-shadow: 1px 1px 5px rgba(62, 62, 62, 0.322);
  padding: 20px 0;
}

.booking-info {
  // background-color:rgb(63, 77, 124) ;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.booking-validation{
  display: flex;
  justify-content: space-between;
}

.vertical-list {
  background-color: rgb(44,56,95);
  width: 100%;
  margin: 8px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(76, 85, 117, 0.8);
}

.vertical-list-beast{
  margin: 10px 15px;
}

.dashboard-dropdown {
  display:flex;
  justify-content: space-between;
  align-items: center ;

}
